.register-spectator-container {
  padding: 10px 20%;
}

.name-container {
  width: 40rem;
  vertical-align: middle;
}

.add-spectator-form {
  /* display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem; */
  align-items: center;
  height: 3rem;
  display: grid;
  grid-template-columns: 2fr 9fr 1fr;
  gap: 1rem;
}

.search-spectator-form {
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  height: 3rem;
  display: grid;
  gap: 1rem;
  margin-bottom: 2rem;
}

.register-spectator-button {
  width: 200px;
}

.add-spectator-form label {
  width: 20rem;
}

.register-spectators-container button{
  width: 150px;
}

@media (max-width: 485px) {
}
