.login{
    padding: 10px 20%;
}

.login-container {
    display: flex;
    align-items: center;
    margin-top: 80px;
}

.login-form {
    padding: 20px;
    width: 280px;
    margin-right: 5%;
}

.login-form h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 16px 25px;
    border: 1px solid #797979;
    border-radius: 15px;
    box-sizing: border-box;
}

p {
    font-size: 18px;
    margin-top: 15px;
}

a {
    text-decoration: underline;
    color: #01496D;
    font-weight: bold;
}

button {
    background-color: #D0F4DE;
    border: none;
    border-radius: 15px;
    padding: 12px 20px;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.login-image {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.login-image img {
    max-width: 70%;
}
