.register-presentation-body{
    padding: 10px 27%;
}

.formContainer {
    display: flex;
    flex-wrap: wrap;
}
  
.column {
    flex: 1;
    padding: 10px;
}

.time {
    display: flex;
    flex-wrap: wrap;
}

.columnTime {
    flex: 1;
    padding: 5px;
}

.register-presentation-body button{
    width: 100%;
}

@media (max-width: 785px) {
    .container {
        flex-direction: column;
    }

    .column {
        flex: auto;
        margin: 5px;
        padding: 10px;
    }
}

@media (max-width: 945px) {
    .register-presentation-body{
        padding: 10px 10%;
    }
}