.search-certificates-container {
    margin-top: 2rem;
    padding: 10px 20%;
}

.text-hint {
    display: block;
    text-align: end;
    margin-bottom: 1rem;
}

span {
    font-weight: 400;
}

.name-container {
    width: 40rem;
    vertical-align: middle;
}

.search-certificate-form {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    height: 3rem;
    display: grid;
    gap: 1rem;
    margin-bottom: 2rem;
}

.add-student-form label {
    width: 20rem;
}

@media (max-width: 485px) {

}