.card {
    display: flex;
    background-color: #F3FAF2;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
}

.card-content {
    flex: 1;
    padding-right: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
}

.card-text {
    margin-top: 40px;
    font-size: 18px;
    max-width: 90%;
}

.card-image {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    max-width: 95%;
    max-height: 95%;
}
  