.login-body {
  padding: 10px 20%;
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.login-form {
  padding: 20px;
  width: 280px;
  margin-right: 5%;
}

.login-form h2 {
  margin-top: 0;
}

p.error {
  text-align: center;
  background-color: rgb(255, 56, 56);
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
}

.login-body button {
  width: 100%;
}

.login-image {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.login-image img {
  max-width: 70%;
}

@media (max-width: 540px) {
  .login-body {
    padding: 10px 10%;
    flex-direction: column;
  }

  .login-image {
    display: none;
  }

  .login-form {
    padding: 20px;
    width: 70%;
  }
}
