.teacher-page-body {
    padding: 10px 15%;
}

.teacher-page-body-buttons{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.teacher-page-body .buttons-column {
    width: 50%;
    max-width: 250px;
    margin: 30px 0px;
}

.teacher-page-body .logout-button {
    width: 50%;
    max-width: 250px;
    margin: 30px 0px;
}

.teacher-page-body-buttons button{
    margin: 10px 0px;
    width: 100%;
}

.presentation-card-with-buttons{
    display: flex;
}

.teacher-page-body .presentation-card-div{
    flex: 1
}

.presentation-card-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5px;
}

@media (max-width: 845px) {
    .teacher-page-body-buttons {
      flex-direction: column;
      align-items: center;
    }

    .teacher-page-body .buttons-column, .teacher-page-body .logout-button {
        width: 100%;
        margin: 0px 0px;
    }
}