.register-teacher-body {
  padding: 10px 20%;
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.register-teacher-form {
  padding: 20px;
  width: 280px;
  margin-right: 5%;
}

.register-teacher-form h2 {
  margin-top: 0;
}

.register-teacher-image {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.register-teacher-image img {
  max-width: 70%;
}

.register-teacher-body button{
  width: 100%;
}

@media (max-width: 540px) {
  .register-teacher-body {
      padding: 10px 10%;
      flex-direction: column;
  }

  .register-teacher-image {
      display: none;
  }

  .register-teacher-form {
      padding: 20px;
      width: 70%;
  }
}