.presentationCardContainer {
  background-color: #fcf6bd;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  padding: 5px 100px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.presentationCardTitle {
  font-size: 18px;
  font-weight: bold;
}

.presentationCardDate,
.presentationCardResponsible,
.presentationCardPresenter {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 720px) {
  .presentationCardContainer {
    padding: 5px 20px;
  }
}
