.Home {
    padding: 10px 20%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space{
    margin: 10px 30px;
}

.button1,
.button2{
    flex: 1;
}

.informations{
    padding-left: 20px;
}

.presentations{
    font-weight: bold;
}

@media (max-width: 600px) {
    .button-container {
      flex-direction: column;
    }
}