.navContainer {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navImage {
  position: absolute;
  left: 80px;
  margin: 0;
}

.navUl {
  position: absolute;
  right: 80px;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.navUl li {
  margin: 0px 8px;
}

.navUl a {
  color: #01496d;
  font-weight: bold;
}

.navUl a.selected {
  text-decoration: underline;
}

.navTitle {
  text-align: center;
  margin: 15px;
  flex: 1;
}

@media (max-width: 1195px) {
  .navUl {
    position: relative;
    left: 0;
    margin: 0px auto;
  }

  .navImage {
    position: relative;
    left: 0;
  }
}

@media (max-width: 801px) {
  .navContainer {
    display: flex;
    flex-direction: column;
  }

  .navImage {
    display: none;
  }

  .navUl {
    flex-direction: column;
    margin-top: 5px;
  }
}
